@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lobster&family=Pacifico&family=Russo+One&family=Wendy+One&family=Work+Sans:wght@300&display=swap');


.App{
    height: 700px;
    display: flex;
    background-image: url("./loginBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color:'black'
    
}